hr {
    display: inline-block;
    width: 40%;
    background-color: var(--ion-color-primary);
}

.photo {
    max-width: 465px !important;
}

.it2{
    position: absolute;
    right: 0px;
    top: 5px;
}

.ion-item {
    --ion-item-background: transparent;
}
